In [1]:
import pandas as pd

In [2]:
tracks = pd.read_csv('/home/araxal/harddrive/fma_metadata/tracks.csv', header=1)

/tmp/ipykernel_22380/730077051.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  tracks = pd.read_csv('/home/araxal/harddrive/fma_metadata/tracks.csv', header=1)

In [6]:
small = tracks[tracks['subset'] == 'small']

In [9]:
small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 1 to 106386
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         8000 non-null   object
 1   comments           8000 non-null   float64
 2   date_created       8000 non-null   object
 3   date_released      5337 non-null   object
 4   engineer           1142 non-null   object
 5   favorites          8000 non-null   float64
 6   id                 8000 non-null   float64
 7   information        6502 non-null   object
 8   listens            8000 non-null   float64
 9   producer           1404 non-null   object
 10  tags               8000 non-null   object
 11  title              8000 non-null   object
 12  tracks             8000 non-null   float64
 13  type               7769 non-null   object
 14  active_year_begin  1542 non-null   object
 15  active_year_end    358 non-null    object
 16  associated_labels  849 non-null    object
 17  bio                5914 non-null   object
 18  comments.1         8000 non-null   float64
 19  date_created.1     8000 non-null   object
 20  favorites.1        8000 non-null   float64
 21  id.1               8000 non-null   float64
 22  latitude           2899 non-null   float64
 23  location           5471 non-null   object
 24  longitude          2899 non-null   float64
 25  members            3525 non-null   object
 26  name               8000 non-null   object
 27  related_projects   694 non-null    object
 28  tags.1             8000 non-null   object
 29  website            6452 non-null   object
 30  wikipedia_page     410 non-null    object
 31  split              8000 non-null   object
 32  subset             8000 non-null   object
 33  bit_rate           8000 non-null   float64
 34  comments.2         8000 non-null   float64
 35  composer           180 non-null    object
 36  date_created.2     8000 non-null   object
 37  date_recorded      465 non-null    object
 38  duration           8000 non-null   float64
 39  favorites.2        8000 non-null   float64
 40  genre_top          8000 non-null   object
 41  genres             8000 non-null   object
 42  genres_all         8000 non-null   object
 43  information.1      159 non-null    object
 44  interest           8000 non-null   float64
 45  language_code      1005 non-null   object
 46  license            7995 non-null   object
 47  listens.1          8000 non-null   float64
 48  lyricist           26 non-null     object
 49  number             8000 non-null   float64
 50  publisher          76 non-null     object
 51  tags.2             8000 non-null   object
 52  title.1            8000 non-null   object
dtypes: float64(17), object(36)
memory usage: 3.3+ MB

In [13]:
small = small.rename(columns={'Unnamed: 0': 'track_id'})

In [16]:
small[small['track_id'] == 853]

Empty DataFrame
Columns: [track_id, comments, date_created, date_released, engineer, favorites, id, information, listens, producer, tags, title, tracks, type, active_year_begin, active_year_end, associated_labels, bio, comments.1, date_created.1, favorites.1, id.1, latitude, location, longitude, members, name, related_projects, tags.1, website, wikipedia_page, split, subset, bit_rate, comments.2, composer, date_created.2, date_recorded, duration, favorites.2, genre_top, genres, genres_all, information.1, interest, language_code, license, listens.1, lyricist, number, publisher, tags.2, title.1]
Index: []

[0 rows x 53 columns]

In [28]:
df[df['set.1'] == 'small']

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
5,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
17,140,1,2008-11-26 01:49:59,2007-05-22 00:00:00,NaN,1,61,<p>Alec K. Redfearn &amp; The Eyesores: Ellen ...,1300,"Alec K. Refearn, Rob Pemberton",...,NaN,1593,en,Attribution-Noncommercial-No Derivative Works ...,1299,NaN,2,NaN,[],Queen Of The Wires
18,141,0,2008-11-26 01:49:57,2009-01-16 00:00:00,NaN,1,60,"<p>A full ensamble of strings, drums, electron...",1304,NaN,...,NaN,839,en,Attribution-Noncommercial-No Derivative Works ...,725,NaN,4,NaN,[],Ohio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105715,154308,0,2017-03-05 04:57:38,2017-03-05 00:00:00,NaN,0,22780,NaN,22334,Fleslit,...,NaN,3371,NaN,Attribution,2705,NaN,17,NaN,"['fleslit', 'trap beat free use', 'trap beat f...",MIA
105716,154309,0,2017-03-05 04:57:38,2017-03-05 00:00:00,NaN,0,22780,NaN,22334,Fleslit,...,NaN,4525,NaN,Attribution,3589,NaN,18,NaN,"['fleslit', 'trap beat free use', 'trap beat f...",A1 Symphony
105817,154413,0,2017-03-07 18:44:11,NaN,Ernie Indradat,0,22789,<p>A live performance at WFMU for Dark Night o...,3777,Julie Bennack,...,NaN,809,NaN,Creative Commons Attribution-NonCommercial-NoD...,676,NaN,9,NaN,[],Do Easy
105818,154414,0,2017-03-07 18:44:11,NaN,Ernie Indradat,0,22789,<p>A live performance at WFMU for Dark Night o...,3777,Julie Bennack,...,NaN,851,NaN,Creative Commons Attribution-NonCommercial-NoD...,788,NaN,10,NaN,[],Dead Can Dance (uncensored)
106387,155066,0,2017-03-24 19:40:34,2017-03-24 00:00:00,JBlanked,1,22899,"<p>Hip Hop, Old School type beat 2017, Trap Mu...",4524,JBlanked,...,NaN,2065,NaN,Attribution,1474,NaN,3,NaN,"['old school beats', '2017 free instrumentals'...",Roy